{{ define "main" }}
  <!-- Swiper Slides -->

 <div class="swiper-slide" id="main">
    <div class="content-container">
        <div class="image-container">
            <img src="{{ .Site.BaseURL }}images/Titel.png" alt="Bildbeschreibung" class="responsive-img">
        </div>
        <div class="text-container">
            <h1>Kacken auf Wacken</h1>
			<h2>Das ultimative Kartenspiel für Metalheads</h2>
        </div>
    </div>
</div>


  <div class="swiper-slide" id="quickstart">
	{{ $page := .Site.GetPage "quickstart" }}
    {{ $page.Content | markdownify  }}
  </div>
  <div class="swiper-slide" id="introduction">
	{{ "# teste"  | markdownify}}
	{{ "## Dies ist ein Testtext" | markdownify }}
	</div>
  
  <div class="swiper-slide" id="tutorials">
	{{ $page := .Site.GetPage "tutorials" }}
	{{ $rendered := $page.Content | markdownify}}
	{{ $rendered }}
</div>
{{ end }}
